
$primary_color: #007bff;
$white_color: #ffffff;
$gray-2-color: rgb(128, 128, 128);
$drop-bg-color: #f9f9f9;
$drop-hover-bg-color: #f1f1f1;
$black-color: black;
$shaddow-color: rgba(0,0,0,0.2);
$contact_bg_color: rgb(248,249,250)